// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2013, MediaTek Co., Ltd.
 * Copyright (c) 2022, Yassine Oudjana <y.oudjana@protonmail.com>
 */

#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>

&pwrap {
	mt6328: pmic {
		compatible = "mediatek,mt6328";

		interrupt-parent = <&pio>;
		interrupts = <206 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		#interrupt-cells = <2>;

		mt6328_keys: keys {
			compatible = "mediatek,mt6328-keys";
			mediatek,long-press-mode = <1>;

			status = "disabled";

			mt6328_power: power {
				linux,keycodes = <KEY_POWER>;
				wakeup-source;
			};


			mt6328_home: home {
				linux,keycodes = <KEY_HOME>;
			};
		};

		mt6328_regulator: regulators {
			compatible = "mediatek,mt6328-regulator";

			mt6328_vpa_reg: buck_vpa {
				regulator-name = "vpa";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3650000>;
				regulator-ramp-delay = <50000>;
				regulator-enable-ramp-delay = <180>;
			};

			mt6328_vproc_reg: buck_vproc {
				regulator-name = "vproc";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <1393750>;
				regulator-ramp-delay = <6250>;
				regulator-enable-ramp-delay = <180>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6328_vcore1_reg: buck_vcore1 {
				regulator-name = "vcore1";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <1393750>;
				regulator-ramp-delay = <6250>;
				regulator-enable-ramp-delay = <180>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6328_vsys22_reg: buck_vsys22 {
				regulator-name = "vsys22";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1993750>;
				regulator-ramp-delay = <6250>;
				regulator-enable-ramp-delay = <180>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6328_vlte_reg: buck_vlte {
				regulator-name = "vlte";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <1393750>;
				regulator-ramp-delay = <6250>;
				regulator-enable-ramp-delay = <180>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6328_vaux18_reg: ldo_vaux18 {
				regulator-name = "vaux18";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <264>;
				regulator-boot-on;
			};

			mt6328_vtcxo_0_reg: ldo_vtcxo_0 {
				regulator-name = "vtcxo_0";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-enable-ramp-delay = <110>;
				regulator-always-on;
			};

			mt6328_vtcxo_1_reg: ldo_vtcxo_1 {
				regulator-name = "vtcxo_1";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-enable-ramp-delay = <110>;
			};

			mt6328_vaud28_reg: ldo_vaud28 {
				regulator-name = "vaud28";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-enable-ramp-delay = <264>;
				regulator-boot-on;
			};

			mt6328_vcn28_reg: ldo_vcn28 {
				regulator-name = "vcn28";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-enable-ramp-delay = <264>;
			};

			mt6328_vcama_reg: ldo_vcama {
				regulator-name = "vcama";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <2800000>;
				regulator-enable-ramp-delay = <264>;
			};

			mt6328_vcn33_bt_reg: ldo_vcn33_bt {
				regulator-name = "vcn33_bt";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3600000>;
				regulator-enable-ramp-delay = <264>;
			};

			mt6328_vcn33_wifi_reg: ldo_vcn33_wifi {
				regulator-name = "vcn33_wifi";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3600000>;
				regulator-enable-ramp-delay = <264>;
			};

			mt6328_vusb33_reg: ldo_vusb33 {
				regulator-name = "vusb33";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <264>;
				regulator-boot-on;
			};

			mt6328_vefuse_reg: ldo_vefuse {
				regulator-name = "vefuse";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <2200000>;
				regulator-enable-ramp-delay = <264>;
			};

			mt6328_vsim1_reg: ldo_vsim1 {
				regulator-name = "vsim1";
				regulator-min-microvolt = <1700000>;
				regulator-max-microvolt = <2100000>;
				regulator-enable-ramp-delay = <264>;
			};

			mt6328_vsim2_reg: ldo_vsim2 {
				regulator-name = "vsim2";
				regulator-min-microvolt = <1700000>;
				regulator-max-microvolt = <2100000>;
				regulator-enable-ramp-delay = <264>;
			};

			mt6328_vemc33_reg: ldo_vemc_3v3 {
				regulator-name = "vemc_3v3";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <264>;
				regulator-boot-on;
			};

			mt6328_vmch_reg: ldo_vmch {
				regulator-name = "vmch";
				regulator-min-microvolt = <2900000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <44>;
			};

			mt6328_vtref_reg: ldo_vtref {
				regulator-name = "vtref";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <240>;
			};

			mt6328_vmc_reg: ldo_vmc {
				regulator-name = "vmc";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <44>;
			};

			mt6328_vcam_af_reg: ldo_vcamaf {
				regulator-name = "vcamaf";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <264>;
			};

			mt6328_vio28_reg: ldo_vio28 {
				regulator-name = "vio28";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-enable-ramp-delay = <264>;
				regulator-boot-on;
			};

			mt6328_vgp1_reg: ldo_vgp1 {
				regulator-name = "vgp1";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <264>;
			};

			mt6328_vibr_reg: ldo_vibr {
				regulator-name = "vibr";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <44>;
			};

			mt6328_vcamd_reg: ldo_vcamd {
				regulator-name = "vcamd";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1500000>;
				regulator-enable-ramp-delay = <264>;
			};

			mt6328_vrf18_0_reg: ldo_vrf18_0 {
				regulator-name = "vrf18_0";
				regulator-min-microvolt = <1825000>;
				regulator-max-microvolt = <1825000>;
				regulator-enable-ramp-delay = <220>;
			};

			mt6328_vrf18_1_reg: ldo_vrf18_1 {
				regulator-name = "vrf18_1";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1825000>;
				regulator-enable-ramp-delay = <220>;
			};

			mt6328_vio18_reg: ldo_vio18 {
				regulator-name = "vio18";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <264>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6328_vcn18_reg: ldo_vcn18 {
				regulator-name = "vcn18";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <44>;
			};

			mt6328_vcam_io_reg: ldo_vcamio {
				regulator-name = "vcamio";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <220>;
			};

			mt6328_vsram_reg: ldo_vsram {
				regulator-name = "vsram";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1493750>;
				regulator-enable-ramp-delay = <220>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6328_vm_reg: ldo_vm {
				regulator-name = "vm";
				regulator-min-microvolt = <1240000>;
				regulator-max-microvolt = <1540000>;
				regulator-enable-ramp-delay = <264>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};
};
