// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2021, Yassine Oudjana <y.oudjana@protonmail.com>
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/mediatek,mt6735-infracfg.h>
#include <dt-bindings/clock/mediatek,mt6735-pericfg.h>
#include <dt-bindings/clock/mediatek,mt6735-topckgen.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pinctrl/mt65xx.h>
#include <dt-bindings/reset/mediatek,mt6735-infracfg.h>
#include <dt-bindings/reset/mediatek,mt6735-pericfg.h>

/ {
	compatible = "mediatek,mt6735";
	interrupt-parent = <&sysirq>;
	#address-cells = <2>;
	#size-cells = <2>;

	psci {
		compatible = "arm,psci";
		method = "smc";
		cpu_suspend = <0x84000001>;
		cpu_off = <0x84000002>;
		cpu_on = <0x84000003>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0>;
			enable-method = "psci";
			cpu-release-addr = <0x0 0x40000200>;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x1>;
			enable-method = "psci";
			cpu-release-addr = <0x0 0x40000200>;
		};

		cpu2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x2>;
			enable-method = "psci";
			cpu-release-addr = <0x0 0x40000200>;
		};

		cpu3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x3>;
			enable-method = "psci";
			cpu-release-addr = <0x0 0x40000200>;
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		atf_mem: memory@43000000 {
			reg = <0 0x43000000 0 0x30000>;
			no-map;
		};

		memory@78000000 {
			reg = <0 0x78000000 0 0x4d00000>;
			no-map;
		};

		memory@7e000000 {
			reg = <0 0x7e000000 0 0x30000>;
			no-map;
		};

		consys_mem: memory@7f800000 {
			reg = <0 0x7f800000 0 0x100000>;
			no-map;
		};
	};

	clocks {
		clk26m: clk26m {
			compatible = "fixed-clock";
			clock-frequency = <26000000>;
			#clock-cells = <0>;
		};

		clk32k: clk32k {
			compatible = "fixed-clock";
			clock-frequency = <32768>;
			#clock-cells = <0>;
		};

		system_clk: sysclk {
			compatible = "fixed-clock";
			clock-frequency = <13000000>;
			#clock-cells = <0>;
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&gic>;
		interrupts = <GIC_PPI 13
			     (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14
			     (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11
			     (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10
			     (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>;
		clock-frequency = <13000000>;
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		infracfg: clock-controller@10000000 {
			compatible = "mediatek,mt6735-infracfg", "syscon";
			reg = <0 0x10000000 0 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		pwrap: pwrap@10001000 {
			compatible = "mediatek,mt6735-pwrap";
			reg = <0 0x10001000 0 0x250>;
			reg-names = "pwrap";
			interrupts = <GIC_SPI 163 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&infracfg PMIC_SPI>, <&infracfg PMIC_WRAP>;
			clock-names = "spi", "wrap";
			resets = <&infracfg PMIC_WRAP_RST>;
			reset-names = "pwrap";

			status = "disabled";
		};

		pericfg: clock-controller@10002000 {
			compatible = "mediatek,mt6735-pericfg", "syscon";
			reg = <0 0x10002000 0 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		gpt: timer@10004000 {
			compatible = "mediatek,mt6735-timer",
				     "mediatek,mt6577-timer";
			reg = <0 0x10004000 0 0x80>;
			interrupts = <GIC_SPI 152 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&system_clk>, <&clk32k>;
			clock-names = "system-clk", "rtc-clk";
		};

		sysirq: intpol-controller@10200620 {
			compatible = "mediatek,mt6735-sysirq",
				"mediatek,mt6577-sysirq";
			reg = <0 0x10200620 0 0x20>;
			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
		};

		cpuxgpt: timer@10200670 {
			compatible = "mediatek,mt6735-systimer",
				     "mediatek,mt6795-systimer";
			reg = <0 0x10200670 0 0x8>;
			clocks = <&system_clk>;
		};

		apmixedsys: clock-controller@10209000 {
			compatible = "mediatek,mt6735-apmixedsys", "syscon";
			reg = <0 0x10209000 0 0x1000>;
			#clock-cells = <1>;
		};

		topckgen: clock-controller@10210000 {
			compatible = "mediatek,mt6735-topckgen", "syscon";
			reg = <0 0x10210000 0 0x1000>;
			#clock-cells = <1>;
		};

		pio: pin-controller@10211000 {
			compatible = "mediatek,mt6735-pinctrl";
			reg = <0 0x10211000 0 0x800>,
			      <0 0x10211800 0 0x100>,
			      <0 0x10211900 0 0x100>,
			      <0 0x10211a00 0 0x100>,
			      <0 0x10211b00 0 0x100>,
			      <0 0x10211c00 0 0x100>,
			      <0 0x10211d00 0 0x100>,
			      <0 0x10005000 0 0x1000>;
			reg-names = "gpio",
				    "iocfg0",
				    "iocfg1",
				    "iocfg2",
				    "iocfg3",
				    "iocfg4",
				    "iocfg5",
				    "eint";
			interrupts = <GIC_SPI 153 IRQ_TYPE_LEVEL_HIGH>;

			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pio 0 0 203>;

			interrupt-controller;
			#interrupt-cells = <2>;

			mmc0_pins_default: mmc0-default-pins {
				pins-cmd-clk-dat-rst {
					pinmux = <(MTK_PIN_NO(172) | 1)>,
						 <(MTK_PIN_NO(173) | 1)>,
						 <(MTK_PIN_NO(174) | 1)>,
						 <(MTK_PIN_NO(175) | 1)>,
						 <(MTK_PIN_NO(176) | 1)>,
						 <(MTK_PIN_NO(177) | 1)>,
						 <(MTK_PIN_NO(178) | 1)>,
						 <(MTK_PIN_NO(179) | 1)>,
						 <(MTK_PIN_NO(180) | 1)>,
						 <(MTK_PIN_NO(181) | 1)>,
						 <(MTK_PIN_NO(182) | 1)>,
						 <(MTK_PIN_NO(183) | 1)>;
					drive-strength = <2>;
				};
			};

			mmc0_pins_uhs: mmc0-uhs-pins {
				pins-cmd-clk-dat-rst {
					pinmux = <(MTK_PIN_NO(172) | 1)>,
						 <(MTK_PIN_NO(173) | 1)>,
						 <(MTK_PIN_NO(174) | 1)>,
						 <(MTK_PIN_NO(175) | 1)>,
						 <(MTK_PIN_NO(176) | 1)>,
						 <(MTK_PIN_NO(177) | 1)>,
						 <(MTK_PIN_NO(178) | 1)>,
						 <(MTK_PIN_NO(179) | 1)>,
						 <(MTK_PIN_NO(180) | 1)>,
						 <(MTK_PIN_NO(181) | 1)>,
						 <(MTK_PIN_NO(182) | 1)>,
						 <(MTK_PIN_NO(183) | 1)>;
					drive-strength = <4>;
				};
			};

			mmc1_pins_default: mmc1-default-pins {
				pins-cmd-clk-dat {
					pinmux = <(MTK_PIN_NO(166) | 1)>,
						 <(MTK_PIN_NO(167) | 1)>,
						 <(MTK_PIN_NO(168) | 1)>,
						 <(MTK_PIN_NO(169) | 1)>,
						 <(MTK_PIN_NO(170) | 1)>,
						 <(MTK_PIN_NO(171) | 1)>;
					drive-strength = <2>;
				};
			};

			mmc1_pins_uhs: mmc1-uhs-pins {
				pins-cmd-clk-dat {
					pinmux = <(MTK_PIN_NO(166) | 1)>,
						 <(MTK_PIN_NO(167) | 1)>,
						 <(MTK_PIN_NO(168) | 1)>,
						 <(MTK_PIN_NO(169) | 1)>,
						 <(MTK_PIN_NO(170) | 1)>,
						 <(MTK_PIN_NO(171) | 1)>;
					drive-strength = <4>;
				};
			};

			mmc2_pins_default: mmc2-default-pins {
				pins-cmd-clk-dat {
					pinmux = <(MTK_PIN_NO(198) | 1)>,
						 <(MTK_PIN_NO(199) | 1)>,
						 <(MTK_PIN_NO(200) | 1)>,
						 <(MTK_PIN_NO(201) | 1)>,
						 <(MTK_PIN_NO(202) | 1)>,
						 <(MTK_PIN_NO(203) | 1)>;
					drive-strength = <2>;
				};
			};

			mmc2_pins_uhs: mmc2-uhs-pins {
				pins-cmd-clk-dat {
					pinmux = <(MTK_PIN_NO(198) | 1)>,
						 <(MTK_PIN_NO(199) | 1)>,
						 <(MTK_PIN_NO(200) | 1)>,
						 <(MTK_PIN_NO(201) | 1)>,
						 <(MTK_PIN_NO(202) | 1)>,
						 <(MTK_PIN_NO(203) | 1)>;
					drive-strength = <4>;
				};
			};
		};

		gic: interrupt-controller@10220000 {
			compatible = "arm,gic-400";
			reg = <0 0x10221000 0 0x1000>,
			      <0 0x10222000 0 0x2000>,
			      <0 0x10224000 0 0x2000>,
			      <0 0x10226000 0 0x2000>;
			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
		};

		uart0: serial@11002000 {
			compatible = "mediatek,mt6735-uart", "mediatek,mt6577-uart";
			reg = <0 0x11002000 0 0x1000>;
			interrupts = <GIC_SPI 91 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&topckgen UART_SEL>, <&pericfg UART0>;
			clock-names = "baud", "bus";

			status = "disabled";
		};

		uart1: serial@11003000 {
			compatible = "mediatek,mt6735-uart", "mediatek,mt6577-uart";
			reg = <0 0x11003000 0 0x1000>;
			interrupts = <GIC_SPI 92 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&topckgen UART_SEL>, <&pericfg UART1>;
			clock-names = "baud", "bus";

			status = "disabled";
		};

		uart2: serial@11004000 {
			compatible = "mediatek,mt6735-uart", "mediatek,mt6577-uart";
			reg = <0 0x11004000 0 0x1000>;
			interrupts = <GIC_SPI 93 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&topckgen UART_SEL>, <&pericfg UART2>;
			clock-names = "baud", "bus";

			status = "disabled";
		};

		uart3: serial@11005000 {
			compatible = "mediatek,mt6735-uart", "mediatek,mt6577-uart";
			reg = <0 0x11005000 0 0x1000>;
			interrupts = <GIC_SPI 94 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&topckgen UART_SEL>, <&pericfg UART3>;
			clock-names = "baud", "bus";

			status = "disabled";
		};

		usb2: usb@11200000 {
			compatible = "mediatek,mt6735-musb", "mediatek,mtk-musb";
			reg = <0 0x11200000 0 0x1000>;
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_LOW>;
			interrupt-names = "mc";
			clocks = <&pericfg USB0>,
				 <&system_clk>,
				 <&topckgen UNIVPLL_D26>;
			clock-names = "main", "mcu", "univpll";

			phys = <&usb2port0 PHY_TYPE_USB2>;

			status = "disabled";
		};

		usb2phy: phy@11210000 {
			compatible = "mediatek,mt6735-tphy", "mediatek,generic-tphy-v1";
			reg = <0 0x11210000 0 0x800>;
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;

			status = "disabled";

			usb2port0: usb-phy@11210800 {
				reg = <0 0x11210800 0 0x100>;
				clocks = <&pericfg USB0>;
				clock-names = "ref";
				#phy-cells = <1>;
			};

			usb2port1: usb-phy@11210900 {
				reg = <0 0x11210900 0 0x100>;
				clocks = <&pericfg USB0>;
				clock-names = "ref";
				#phy-cells = <1>;
			};

			usb2port2: usb-phy@11210a00 {
				reg = <0 0x11210a00 0 0x100>;
				clocks = <&pericfg USB0>;
				clock-names = "ref";
				#phy-cells = <1>;
			};

			usb2port3: usb-phy@11210b00 {
				reg = <0 0x11210b00 0 0x100>;
				clocks = <&pericfg USB0>;
				clock-names = "ref";
				#phy-cells = <1>;
			};
		};

		mmc0: mmc@11230000 {
			compatible = "mediatek,mt6735-mmc";
			reg = <0 0x11230000 0 0x1000>;
			interrupts = <GIC_SPI 79 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&pericfg MSDC30_0>,
				 <&topckgen MSDC50_0_SEL>;
			clock-names = "source", "hclk";
			resets = <&pericfg MSDC0_SW_RST>;

			pinctrl-names = "default", "state_uhs";
			pinctrl-0 = <&mmc0_pins_default>;
			pinctrl-1 = <&mmc0_pins_uhs>;

			status = "disabled";
		};

		mmc1: mmc@11240000 {
			compatible = "mediatek,mt6735-mmc";
			reg = <0 0x11240000 0 0x1000>;
			interrupts = <GIC_SPI 80 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&pericfg MSDC30_1>,
				 <&topckgen AXI_SEL>;
			clock-names = "source", "hclk";
			resets = <&pericfg MSDC1_SW_RST>;

			pinctrl-names = "default", "state_uhs";
			pinctrl-0 = <&mmc1_pins_default>;
			pinctrl-1 = <&mmc1_pins_uhs>;

			status = "disabled";
		};

		mmc2: mmc@11250000 {
			compatible = "mediatek,mt6735-mmc";
			reg = <0 0x11250000 0 0x1000>;
			interrupts = <GIC_SPI 81 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&pericfg MSDC30_2>,
				 <&topckgen AXI_SEL>;
			clock-names = "source", "hclk";
			resets = <&pericfg MSDC2_SW_RST>;

			pinctrl-names = "default", "state_uhs";
			pinctrl-0 = <&mmc2_pins_default>;
			pinctrl-1 = <&mmc2_pins_uhs>;

			status = "disabled";
		};
	};
};
